body {
  background: #fef2f2;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 1rem;
  width: 70%;
  display: block;
  margin: auto;
}

.container {
  width: 60%;
  margin: auto;
}

span {
  margin-right: 1rem;
  font-size: 2rem;
  padding: 1.5rem;
  cursor: pointer;
}
